*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    height: 100%;
    font-size: 62.5%;
}
body{
    height: 100%;
    font-size: 1.6rem;
}
.container{
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
}
.clear{
    clear: both;
}

/*cabeçalho*/
.cabecalho{
    padding: 20px 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header .cabecalho .logo img{
    width: 236px;
}
header .cabecalho .nav1 ul{
    list-style-type: none;
    display: flex;
}
header .cabecalho .nav1 ul li{
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 1.4rem;
}
.cabecalho ul li a{
    text-decoration: none;
    color: #b4b4b4
}
.menu-mobile{
    display: none;
}

/**mosaico**/
.grid-mosaico{
    width: 100%;
    height: 55vh;
    padding: 0 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 7px;
}
.grid-mosaico > div{
    background-color: #ccc;
}
/****/

/*inferior mosaico*/
.servicos > .container{
    max-width: 780px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: -10px;
}
.servicos > .container .box-servicos{
    background-image: url(../imagens/dente1.png);
    background-size: 19px 19px;
    background-position: center calc(100% - 5px);
    background-repeat: no-repeat;
}
.servicos > .container .box-servicos h2{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.servicos > .container .box-servicos p{
    color: white;
    font-size: 1.3rem;
}
.servicos > .container .box-servicos:nth-of-type(1){
    width: 30%;
    padding: 30px 2%;
    background-color: #576975;
}
.servicos > .container .box-servicos:nth-of-type(2){
    width: 40%;
    padding: 45px 2%;
    background-color: #688293;
    background-image: url(../imagens/dente2.png);
    background-size: 22px 22px;
    background-position: center calc(100%- 5px);
    background-repeat: no-repeat;
}
.servicos > .container .box-servicos:nth-of-type(3){
    width: 30%;
    padding: 30px 2%;
    background-color: #576975;
}
/***/

/*texto perfil*/
section.perfil > .container{
    max-width: 800px;
    padding: 0 2%;
}
article.box-perfil{
    width: 100%;
    padding-top: 60%;
    margin-top: 10px;
    position: relative;
}
.box-perfil2{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.box-perfil2 .img-perfil{
    width: 40%;
    height: 100%;
    background-image: url(../imagens/img_perfil.png);
    background-size: 100% 100%;
}
.box-perfil2 .texto-perfil{
    width: 60%;
    padding: 0 20px;
}

/*videos*/
section.videos{
    margin-top: 30px;
    height: 30%;
}
.video-container{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
section.videos .box-video{
    margin: 5px;
    width: 30%;
    height: 100%;
}
.box-video iframe{
    width: 100%;
    height: 100%;
}
/*tratamentos*/
section.tratamentos > h2{
    color:#737373;
    font-size: 2.2rem;
    text-decoration: underline;
    text-align: center;
    padding: 40px 0 20px 0;
}
.tratamento-container{
    padding: 0 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.tratamento-container .tratamento-box{
    margin: 20px 20px;
}
.tratamento-container .tratamento-box h2{
    font-size: 1.8rem;
    color: #737373;
}
.tratamento-container .tratamento-box p{
    font-size: 1.3rem;
    color: #b4b4b4;
}

/*depoimentos*/
section.depoimentos{
    display: flex;
    justify-content: center;
    padding: 100px 0;
}
section.depoimentos .depoimento-box h2{
    text-align: center;
    font-size: 1.8rem;
    color: #688293;
}
section.depoimentos > .container{
    padding: 20px 0;
    text-align: center;
    max-width: 400px;
}
section.depoimentos > .container .depoimento-box{
    text-align: center;
    position: relative;
}
.depoimento-box quote{
    font-size: 1.5rem;
    color: #b4b4b4;
}
.depoimento-box img:nth-of-type(2){
    position: absolute;
    right: -12px;
}
.depoimento-box .nome-depoimento{
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nome-depoimento img{
    border: 1px solid #b4b4b4;
    width: 32px;
    height: 32px;
    border-radius: 16px;
}
.nome-depoimento span{
    margin-left: 10px;
    font-size: 1.3rem;
    color: #b4b4b4;
}
.slide-bullets{
    display: flex;
    justify-content: center;
}
.slide-bullets > div{
    margin: 5px;
    background-color: #b4b4b4;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.slide-bullets > div:first-child{
    background-color: black;
}

/*social*/
section.social .insta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-color: #98a5ae;
}
section.social .insta p{
    margin-top: 10px;
    color: white;
    text-align: center;
}

.social-mosaico{
    float: left;
    width: 100%
}
.social-mosaico .mosaico-box{
    float: left;
    background-color: #ccc;
    width: calc(100% / 9);
    padding-top: calc(100% / 9);
    border: 6px solid white;
}
section.social .facebook{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-color: #576976;
}
section.social .facebook p{
    color: white;
    margin-top: 10px;
    text-align: center;
}

/*contato*/
.facebook-chamada p{
	line-height: 2.3rem;
	color: white;
	padding:10px 0;
	font-size: 1.3rem;
}

section.contato{
	padding:60px 2%;
}

section.contato > h2{
	color: #698293;
	text-align: center;
	font-size: 1.8rem;
}

section.contato form{
	width: 100%;
	margin: 30px auto;
	max-width: 500px;
}

.form-wraper{
	float: left;
	padding:0 10px;
	margin-top: 10px;
}

.w100{
	width: 100%;
}

.w50{
	width: 50%;
}

.form-wraper span{
	font-size: 1.5rem;
	color: #b4b4b4;
}

.form-wraper input[type=text]{
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding-left: 9px;
	border:1px solid #dadada;
	margin-top:8px;
}

.form-wraper textarea{
	width: 100%;
	margin-top:8px;
	padding:8px;
	height: 121px;
	resize: none;
	border: 1px solid #dadada;
	/*
	resize: horizontal;
	resize: vertical;
	*/
}

.form-wraper input[type=submit]{
	width: 100px;
	display: inline-block;
	height: 35px;
	border: 0;
	background: #688293;
	color: white;
	cursor: pointer;
	/*
	position: relative;
	left: 50%;
	transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	*/
}

footer{
	padding:40px 2%;
	background-color: #688293;
}

footer .container{
	max-width: 1100px;
}

footer .footer-block{
	float: left;
	width: 33.3%;
}

.footer-block h2{
	color: white;
	font-weight: normal;
	font-size: 18px;
}

.footer-block p{
	margin-top:8px;
	color: white;
	font-size: 14px;
}


/*responsivo*/
@media screen and (max-width: 1024px){
    .social-mosaico .mosaico-box{
        width: calc(100% / 6);
        padding-top: calc(100% / 6);
    }
    .social-mosaico > div:nth-of-type(1n+7){ /*esconde a partir da 7 contando ela*/
        display: none;
    }
}

@media screen and (max-width: 768px){
    .nav1{
        display: none;
    }
    .menu-hamburguer{
        display: block;
        width: 42px;
        height: 42px;
        max-width: 50px;
        cursor: pointer;
        position: relative;
        top: 5px;
        right:13px;
    }
    .hamburguer1,
    .hamburguer2,
    .hamburguer3{
        margin: 2px;
        background-color: #698293;
        width: 100%;
        height: 7px;
        transition: 1s;
        border-radius: 10px;
    }
        /**fullscreen**/

    .menu.on{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100vh;
        background-color: #576975;
        transition: 1s;
}
    .menu.on .nav1{
        display: block;
    }
    .menu.on .menu-hamburguer{
        position: absolute;
        top: 3vh;
        right:3.5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
    .menu.on .menu-hamburguer > div{
        background-color: #9fb7c7;
        transition: 1s;
    }
    .menu.on .menu-hamburguer .hamburguer1{
        transform: rotate(45deg) translate(8px, 7px);
    }
    .menu.on .menu-hamburguer .hamburguer2{
        opacity: 0;
    }
    .menu.on .menu-hamburguer .hamburguer3{
        transform: rotate(-45deg) translate(8px, -8px);
    }
    .menu.on nav.nav1 ul{
        width: 100vw;
        height: 80%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
    .menu.on nav.nav1 ul li {
        width: 50%;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
}
    .menu.on nav.nav1 ul li a{
        color: white;
        font-size: 4.0rem;
        transition: 0.5s;
}
    .menu.on nav.nav1 ul li a:hover{
        background-color: rgb(72, 82, 88);
        border-bottom:#ccc 3px solid;
        border-radius: 15px;
}
    section.servicos > .container{
        max-width: 768px;
        flex-direction: column;
        margin-bottom: 0;
        justify-content: none;
        align-items: none;
        position: static;

    }
    .servicos > .container .box-servicos:nth-of-type(1){
        width: 90%;
        padding: 40px 2%;
        background-color: #576975;
    }
    .servicos > .container .box-servicos:nth-of-type(2){
        width: 94%;
        padding:50px 2%;
}
    .servicos > .container .box-servicos:nth-of-type(3){
        width: 90%;
        padding:40px 2%;
}
    article.box-perfil{
        width: 100%;
        padding-top: 0;
}
    .box-perfil2{
        flex-direction: column;
        position: static;
}
    .box-perfil2 .img-perfil{
        padding: 30vh 30vw;
}
    .box-perfil2 .texto-perfil{
        margin-top: 10px;
        width: 100%;
        text-align: justify;
        max-width: none;
}
    section.videos{
        height: 100vh;
    }
    .video-container{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
    }
    section.videos .box-video{
        width: 60%;
        margin-top: 20px;
    }
}
@media screen and (max-width: 650px){
    .social-mosaico .mosaico-box{
        width: calc(100% / 3);
        padding-top: calc(100% / 3);
    }
    .social-mosaico > div:nth-of-type(1n+4){ /*esconde a partir da 7 contando ela*/
        display: none;
    }
}
@media screen and (max-width: 545px){
    .menu.on nav.nav1 ul li a{
        padding-top: 20px;
        font-size: 3.0rem;
}
}
@media screen and (max-width: 470px){
    .cabecalho{
        justify-content: space-between;
    }
    header .cabecalho nav ul li a{
        margin: 5px;
    }
    .box-perfil2 .img-perfil{
        padding: 30vh 38vw;
    }
    section.videos .box-video{
        width: 80%;
    }
}
@media screen and (max-width: 445px){
    .menu.on nav.nav1 ul li a{
        padding-top: 20px;
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 390px){
    .menu.on nav.nav1 ul li a{
        padding-top: 20px;
        font-size: 2.0rem;
    }
    .menu.on nav.nav1 ul li a:hover{
        background-color: rgb(72, 82, 88);
        border-bottom:#ccc 3px solid;
        border-radius: 15px;
}
}

@media screen and (max-width: 445px){
    .menu.on{
        height: 120vh;
    }
    .menu.on nav.nav1 ul li a{
        padding-top: 20px;
        font-size: 1.7rem;
    }
    .menu.on nav.nav1 ul li a:hover{
        background-color: rgb(72, 82, 88);
        border-bottom:#ccc 3px solid;
        border-radius: 15px;
}
}







